
html {
    background: #fec7d7;
}
.pricing-section {
    background: #fec7d7;
}
.flowbase-navigation {
    background: #fec7d7;
    box-shadow: unset;
    position: absolute;
    height: 1%;
    border-bottom: 2px solid rgba(100,100,100,0.25);
}
.button-menu {
    background: #0e172c;
    border-radius: 5px;
    text-transform: lowercase;
}
.flowbase-logo {
    filter: brightness(30%);
}
.content-h1-copy {
    border: unset;
    background: unset;
    color: #0e172c;
    text-transform: lowercase;
}
.text-block {
    color: #0e172c;
    text-transform: lowercase;
}
.pricing-card-featured {
    border-radius: 8px;
    border: 3px solid #000;
    background: #f9f8fc;
}
.pricing-base {
   border: 3px solid #000;
    border-radius: 10px;
    background: #d9d4e7;
}
.pricing.white-text {
    color: #0e172c; 
}
.price-type.white-text {
    color: #0e172c !important;
}
.pricing-text.white-text {
    color: #0e172c;
}
.feature-text.white-text {
    color: #0e172c;
}
.button-white {
        border-radius: 8px;
    border: 3px solid #000;
    background: #d9d4e7 !important;
    color: #0e172c !important;
    text-transform: lowercase;
}
.pricing-card-featured .check {
    filter: brightness(-10%);
}
.price-card .w-button {
    background: #fff !important;
    border: 3px solid #000;
    border-radius: 8px;
    color: #0e172c;
    text-transform: lowercase;
}
.price-card .check {
    filter: brightness(10%);
}

.heading {
    color: rgba(15,24,44,0.76) !important;
}
.heading-2 {
    color: rgba(15,25,44,0.76) !important;
}
.price-card .price-type {
    color: rgba(15,25,44,0.76) !important;
}

.w-container {
    background: #d9d4e7;
    border: 3px solid #0e172c;
    border-radius: 8px;
}
.button-copy {
            border-radius: 8px;
    border: 3px solid #000;
    background: #f5f5f5 !important;
}
h2 {
    color: #0e172c;
}
.button-copy span {
    background: unset;
      -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
    color: #0e172c !important;
    text-transform: lowercase;
}
.button-copy2 span {
    background: unset;
      -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
    color: #0e172c !important;
    text-transform: lowercase;
}
.button-copy2 {
            border-radius: 8px;
    border: 3px solid #000;
    background: #f1f1f1 !important;
    color: #0e172c !important;
    text-transform: lowercase;
}
